$gray: gray;
$primary: #e0b91d;
$secondary: #34261f;
$dark: #160e09;
$light: #f4f4f4;

$bg-banner: '../images/bg-banner.jpg';

$link-color: $secondary;
$link-hover-color: $primary;
$link-hover-decoration: none;

$border-radius: 0;
$border-color: #49362c;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

$input-bg: transparent;
$input-disabled-bg: transparent;
$input-border-color: $gray;
$input-focus-border-color: $primary;
$input-color: $dark;
$input-focus-box-shadow: 0;
$input-placeholder-color: $gray;

$spacer: 15px;